/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
}

#question {
  margin-bottom: 20px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
}

/* ##branding */

#branding {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#branding p {
  font-size: 20px;
  font-weight: 700;
}
